.header {
    width: 100vw;
    height: 139px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5F5;
}

@media screen and (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}